html {
    cursor: crosshair;
}
body {
  background-color: rgb(102, 102, 102);
}
.target {
    position: absolute;
}
.target-animation {
    animation-duration: 2s;
    animation-name: bounceIn;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#timer {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
}
.stats {
    text-align: center;
}
.home {
    text-align: center;
    margin-top: 100px;
	z-index: 100;
}
#playground {
    width: 900px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background: url('background.jpg');
    position: relative;
    overflow: hidden;
}


#playground img {
    -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  user-select: none;
}
#tree {
    height: 100px;
    position: absolute;
    left: 424px;
    top: 500px;
    z-index: 1;
}
#shells {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.shell {
    height: 100px;
    display: inline;
}
.shell.hidden {
    display: none;
}
.shell.visible {
    display: inline;
}